<div class="starter">
<div class="row">
<div class="col-md-2 starter-left">
  <ul class="nav nav-tabs nav-pills nav-stacked">
    <li><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-home"></span>基本信息</a></li>
    <li><a href="#profile" data-toggle="tab"><span class="glyphicon glyphicon-tag"></span>价格</a></li>
    <li><a href="#messages" data-toggle="tab"><span class="glyphicon glyphicon-file"></span>描述</a></li>
    <li><a href="#settings" data-toggle="tab"><span class="glyphicon glyphicon-picture"></span>照片</a></li>
    <li><a href="#info" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span>详细信息</a></li>
  </ul>
</div>
<%= form_for @space, :url => spaces_path, html: { :multipart => true, class: "form-horizontal", role: "form" }  do |f| %>
<div class="tab-content">
<div class="tab-pane active" id="home">
  <div class="col-md-6 starter-center">
    <div class="form-group">
      <%#= f.label :space_setting_id, html:{ class: "col-md-2 control-label" } %>
      <%= f.label :space_setting, class: "col-md-2 control-label" %>
      <div class="col-md-7">
        <%= f.select :space_setting_id, options_for_select(@space_setting.collect{ |s| [s.content, s.id] }, 1),
                     options = {}, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :user_group, class: "col-md-2 control-label" %>
      <div class="col-md-7">
        <%= f.select :user_group_id, options_for_select(@user_group.collect{ |group| [group.content, group.id]}, 1),
                     options = {}, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :Atmosphere, class: "col-md-2 control-label" %>
      <div class="col-md-7">
        <%= f.select :atmosphere, options_for_select(@atmosphere.collect{ |at| [at.content, at.id]}, 1),
                     options = {}, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :出租类型, class: "col-md-2 control-label" %>
      <div class="col-md-7">
        <% @rent_env.each do |rent_env| %>
            <label class="checkbox-inline">
              <%= f.check_box :rent_env, {}, '1', false %>
              <%= h rent_env.content %>
            </label>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :入租人数, class: "col-md-2 control-label" %>
      <div class="col-md-4">
        <%= f.select :num_of_people, options_for_select(@num_of_people.collect{ |num| [num.content, num.id]}, 1),
                    options = {},  class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :City, class: "col-md-2 control-label" %>
      <div class="col-md-4">
        <%= f.select :city, options_for_select(@city.collect{ |c| [c.content, c.id]}, 1),
                     options ={}, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="col-md-4 starter-right">
    <p>Help Words</p>
  </div>
</div>
<div class="tab-pane" id="profile">
  <div class="col-md-6 starter-center">
    <div class="row">
      <div class="col-md-2">
        <h4>价格标准</h4>
        <p><small>您房源的每日基础价格</small></p>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">¥</span>
              <%= f.text_field :price_hour, class: "form-control", placeholder: "价格" %>
              <span class="input-group-addon">时</span>
            </div>
          </div>
        </div><!--/.row -->
        <div class="row">
          <div class="col-md-6">
            <hr />
            <div class="input-group">
              <span class="input-group-addon">¥</span>
              <%= f.text_field :price_day, class: "form-control", placeholder: "价格" %>
              <span class="input-group-addon">天</span>
            </div>
          </div>
        </div><!--/.row -->
        <div class="row">
          <div class="col-md-6">
            <hr />
            <div class="input-group">
              <span class="input-group-addon">¥</span>
              <%= f.text_field :price_month, class: "form-control",placeholder: "价格" %>
              <span class="input-group-addon">月</span>
            </div>
          </div>
        </div><!--/.row -->
        <div class="row">
          <div class="col-md-6">
            <hr />
            <div class="input-group">
              <span class="input-group-addon">¥</span>
              <%= f.text_field :price_year, class: "form-control", placeholder: "价格" %>
              <span class="input-group-addon">年</span>
            </div>
          </div>
        </div>
      </div><!--col-md-8 -->
    </div><!--/.row -->
  </div>
  <div class="col-md-4 starter-right">
    <p>Help2 Words</p>
  </div>
</div>
<div class="tab-pane" id="messages">
  <div class="col-md-6 starter-center">
    <div class="row">
      <div class="col-md-2">
        <h4>描述</h4>
        <p><small>显示在您的公开房源页面中的标题和摘要</small></p>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <%= f.label :title, class: "col-md-2 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :title, class: "form-control", id: "exampleInputEmail1", placeholder: "输入标题" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :content, class: "col-md-2 control-label" %>
          <div class="col-md-8">
            <%= f.text_area :content , rows: 6, class: "form-control" %>
          </div>
        </div>
        <hr />
        <div class="form-group">
          <%= f.label :rule, class: "col-md-2 control-label" %>
          <div class="col-md-8">
            <%= f.text_area :rule, rows: 6, class: "form-control" %>
          </div>
        </div>
      </div><!-- col-md-8 -->
    </div><!-- row -->
  </div>
  <div class="col-md-4 starter-right">
    <p>33</p>
  </div>
</div>
<div class="tab-pane" id="settings">
  <div class="col-md-6 starter-center">
    <h2>添加照片</h2>
    <div class="form-group">
      <div class="form-group">
        <%= f.file_field :photo, id: "exampleInputFile" %>
      </div>
    </div>
  </div>
  <div class="col-md-4 starter-right">
    <p>44</p>
  </div>
</div>
<div class="tab-pane" id="info">
  <div class="col-md-6 starter-center">
    <div class="row">
      <div class="col-md-2">
        <h4>最常见</h4>
        <p><small>大多数常见便利设施。</small></p>
      </div>
      <div class="col-md-8">
        <% @detailed_common.each do |detailed| %>
          <label class="checkbox">
            <%= f.check_box :detailed %>
            <%= h detailed.content %>
          </label>
        <% end %>
      </div><!-- col-md-8 -->
    </div><!-- row -->
    <hr />
    <div class="row">
      <div class="col-md-2">
        <h4>额外便利设施</h4>
        <p><small>您房源可提供的额外便利设施。</small></p>
      </div>
      <div class="col-md-8">
        <% @detailed_extra.each do |detailed| %>
          <label class="checkbox">
            <%= f.check_box :detailed %>
            <%= h detailed.content %>
          </label>
        <% end %>
      </div><!-- col-md-8 -->
    </div><!-- row -->
    <hr />
    <div class="row">
      <div class="col-md-2">
        <h4>特殊功能</h4>
        <p><small>为有特定需求的租客提供的功能</small></p>
      </div>
      <div class="col-md-8">
        <% @detailed_special.each do |detailed| %>
          <label class="checkbox">
            <%= f.check_box :detailed %>
            <%= h detailed.content %>
          </label>
        <% end %>
      </div><!-- col-md-8 -->
    </div><!-- row -->
    <hr />

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Create new space</button>
      </div>
    </div>
  </div>
  <div class="col-md-4 starter-right">
    <p>44</p>
  </div>
</div>
</div><!--tab-content -->
<% end %>
</div><!--row -->
</div><!--starter -->